name: BRON CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # - name: Set up JDK 21
      #   uses: actions/setup-java@v3
      #   with:
      #     distribution: 'temurin'
      #     java-version: '21'

      - name: Build Docker Image
        run: docker build -t springboot-app:${{ github.sha }} .

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: springboot-app:${{ github.sha }}
          format: 'sarif'
          exit-code: '0'
          vuln-type: 'os,library'



      - name: Run Gitleaks
        uses: zricethezav/gitleaks-action@v2
